body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card-small {
  width: 80%;
}

.card-checkable {
  margin-bottom: 0;
}

.card-list {
  max-height: 6px;

  margin-top: -6px;

  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}

.card-fadeout {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; 
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.map-wrapper {
  height: 100%;
}
.map-wrapper .map{
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}

.card-wrapper-active .card-list {
  max-height: 32000px;
  border-top: 1px solid #ddd;
}

.card-list ul {
  list-style-type: disc;
}

.table-view-cell > .badge-top-aligned {
  top: 17px;
}

.content-horizontally-padded {
  margin: -4px 0 0 10px;
}

.content-image-padded {
  margin: 0 0 0 62px;
}

.card-wrapper .checkbox-wrapper {
  position: absolute;

  top: 50%;
  right: 10px;

  height: 22px;
  width: calc(20% - 30px);
  margin: -11px 0 0 0;
}

.checkbox-wrapper .checkbox {
  margin: 0 auto;
}

.checkbox {
  height: 22px;
  width: 22px;

  border: 1px solid #ddd;
  border-radius: 3px;
}

.checkbox .checkmark {
  display: none;

  height: 100%;
}

.checkbox-checked .checkmark {
  display: block;

  margin: 0 auto;
}

.checkmark .fa {
  font-size: 24px;
  margin: -6px 0 0 0px;
}

.blankslate {
  position: absolute;

  top: 50%;

  width: 90%;
  height: auto;

  margin: -90px 5% 0 5%;

  max-width: 533px;
  max-height: 192px;
}

.blankslate span {
  display: block;

  font-size: 16px;
  font-weight: 100;

  text-align: center;
}

.blankslate .blankslateHeadline {
  font-size: 32px;
  font-weight: 300;

  line-height: 62px;
}

.blankslate a {
  font-weight: 300;
}

.bar-tab .tab-item {
  position: relative;
}

.bar-tab .tab-item .badge {
  position: absolute;
  right: -13px;
  top: -8px;
  z-index: 99;
/*  position: absolute;
  right: 21px;
  z-index: 99;*/
}